@use 'variables';
@use 'mixin';
:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

body,
input,
button,
textarea {
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  border: none;
  outline: none;

  &::placeholder {
    color: variables.$color-secondary;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
