@use 'variables';
@use 'mixin';

header {
  width: 100vw;
  padding: 0 3.2rem 9.3rem;

  background-color: variables.$bg-color-primary;

  .hero {
    @include mixin.d-flex;
    position: relative;
    img {
      max-width: 36.4rem;
      width: 100%;

      @media (min-width: 768px) {
        max-width: 72rem;
        width: 50%;
      }
    }
    .hero-text {
      margin: 1.7rem 0 3.5rem;

      h1 {
        color: variables.$color-primary;
        font-family: Mulish;
        font-size: 3.2rem;
        font-weight: 900;
      }
      p {
        color: variables.$color-secondary;
        font-family: Mulish;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .arrow-down {
      @include mixin.d-flex;
      justify-content: center;

      width: 5.8rem;
      height: 10.5rem;

      background-color: transparent !important;
      border-radius: 4rem;
      border: 0.4rem solid variables.$color-primary;

      i {
        color: variables.$color-primary;
        font-size: 5rem;
      }

      @media (min-width: 768px) {
        position: absolute !important;
        left: 0;
        bottom: 0;
      }
    }

    @media (min-width: 768px) {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}
