:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

body,
input,
button,
textarea {
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  border: none;
  outline: none;
}
input::-moz-placeholder, button::-moz-placeholder, textarea::-moz-placeholder {
  color: #312d64;
  font-size: 1.6rem;
  font-weight: 600;
}
input::placeholder,
button::placeholder,
textarea::placeholder {
  color: #312d64;
  font-size: 1.6rem;
  font-weight: 600;
}

header {
  background-color: #f9f4fb;
  padding: 0 3.2rem 9.3rem;
}
header .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1224px;
  margin: 0 auto;
}
header .hero-container img {
  animation: header 1s forwards;
  max-width: 36.4rem;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  header .hero-container img {
    max-width: 70rem;
    width: 50%;
  }
}
header .hero-container .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  header .hero-container .wrapper {
    align-items: flex-start;
  }
}
header .hero-container .wrapper .text {
  animation: header 1s forwards;
  margin: 1.7rem 0 3.5rem;
  text-align: center;
}
header .hero-container .wrapper .text h1 {
  color: #b52184;
  font-weight: 900;
  font-size: clamp(2rem, 3.084vw + 1.277rem, 5.563rem);
  line-height: clamp(3rem, 3.25vw + 2.238rem, 4.713rem);
}
header .hero-container .wrapper .text p {
  color: #312d64;
  font-size: clamp(1.25rem, 1.423vw + 0.916rem, 3.2rem);
  line-height: clamp(1.875rem, 1.376vw + 1.552rem, 2.6rem);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  header .hero-container .wrapper .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    align-items: flex-start;
    gap: 0.8rem;
  }
}
header .hero-container .arrow-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: header 1s forwards;
  justify-content: center;
  width: 5.8rem;
  height: 10.5rem;
  border: 0.3rem solid #b52184;
  border-radius: 4rem;
}
header .hero-container .arrow-down i {
  font-size: 4rem;
  color: #b52184;
}
@media screen and (min-width: 768px) {
  header .hero-container .arrow-down {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  header .hero-container {
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2.8rem;
  }
}

@keyframes header {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
}
main .card-container {
  background: linear-gradient(96deg, #343193 0%, #302c63 99.68%);
  padding: 5.2rem 3.2rem;
}
main .card-container .card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}
main .card-container .card-wrapper .card {
  --delay: 0.4s;
  animation: main 0.4s var(--delay) backwards;
  width: 30rem;
  padding: 2.6rem;
  background-color: #ffffff;
  border-radius: 1.6rem;
}
main .card-container .card-wrapper .card h1 {
  color: #b52184;
  font-size: 2.8rem;
  font-weight: 900;
  margin: 3.3rem 0 1.9rem;
}
main .card-container .card-wrapper .card p {
  color: #312d64;
  font-size: 1.6rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  main .card-container .card-wrapper .card {
    height: 40rem;
  }
}
@media screen and (min-width: 768px) {
  main .card-container .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1064px) {
  main .card-container .card-wrapper {
    justify-content: space-between;
  }
}

@keyframes main {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
}
.form-container {
  background-color: #f9f4fb;
  width: 100%;
  padding: 7.8rem 3.2rem 6.5rem;
}
.form-container .wrapper {
  max-width: 1224px;
  width: 100%;
}
.form-container .wrapper form {
  max-width: 56rem;
  width: 100%;
  margin: 0 auto;
}
.form-container .wrapper form h1 {
  color: #b52184;
  font-weight: 900;
  font-size: clamp(2rem, 3.084vw + 1.277rem, 5.563rem);
  line-height: clamp(3rem, 3.25vw + 2.238rem, 4.713rem);
  margin-bottom: 4.3rem;
  --delay: 0.2s;
  animation: footer 0.4s var(--delay) backwards;
}
.form-container .wrapper form .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  position: relative;
  --delay: 0.4s;
  animation: footer 0.4s var(--delay) backwards;
}
.form-container .wrapper form .form-wrapper input,
.form-container .wrapper form .form-wrapper textarea {
  width: 100%;
  background-color: transparent !important;
  border-radius: 1.6rem;
  border: 1.5px solid #312d64;
  margin-bottom: 2.4rem;
}
.form-container .wrapper form .form-wrapper input {
  padding: 1.2rem 1.2rem 1.2rem 4rem;
}
.form-container .wrapper form .form-wrapper textarea {
  padding: 1.2rem;
  height: 10rem;
}
.form-container .wrapper form .form-wrapper i {
  position: absolute !important;
  color: #b52184;
  font-size: 2rem;
  top: 10px;
  left: 12px;
}
.form-container .wrapper form button {
  background: linear-gradient(96deg, #343193 0%, #302c63 99.68%);
  padding: 1.6rem;
  color: #ffffff;
  border-radius: 1.6rem;
  --delay: 1s;
  animation: footer 0.4s var(--delay) backwards;
}
@media screen and (min-width: 1100px) {
  .form-container .wrapper form {
    margin: 0;
  }
}
@media screen and (min-width: 1100px) {
  .form-container .wrapper {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .form-container {
    background-image: url(../assets/imageBgFooter.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 40%;
  }
}

footer {
  background: linear-gradient(96deg, #343193 0%, #302c63 99.68%);
  text-align: center;
  color: #ffffff;
  font-size: 1.91rem;
  font-weight: 600;
  height: 6rem;
  padding: 1.6rem;
}

@keyframes footer {
  from {
    opacity: 0;
    transform: translatex(-200%);
  }
}/*# sourceMappingURL=style.css.map */